*.dSYM
/baton
/chroot-preserves-fd
/complete_path_test
/conceal-environ
/dirsize
/emptydirs
/get-exe-path-freebsd
/give-fd
/libcomplete_path.so
/mvedit
/opencl-device-list
/poll-stdin-unix
/print-exit-code
/readdir-usage
/red-stderr
/shm-test
/show-terminal-keycodes
/signal-from-pid
/who-sent-signal
/x-click-to-focus
/x11-shm-test
