*.dSYM
/baton
/complete_path_test
/dirsize
/emptydirs
/get-exe-path-freebsd
/libcomplete_path.so
/mvedit
/poll-stdin-unix
/print-exit-code
/readdir-usage
/red-stderr
/shm-test
/show-terminal-keycodes
/signal-from-pid
/who-sent-signal
/x-click-to-focus
