*.dSYM
/baton
/chroot-preserves-fd
/complete_path_test
/conceal-environ
/dirsize
/emptydirs
/get-exe-path-freebsd
/give-fd
/libcomplete_path.so
/macos-poll-bug
/max-fd-number
/mvedit
/noerr
/opencl-device-list
/parse-gecos
/poll-stdin-unix
/print-exit-code
/readdir-usage
/realdir
/red-stderr
/red-stderr-test-2
/shm-test
/show-terminal-keycodes
/signal-from-pid
/who-sent-signal
/x-click-to-focus
/x11-shm-test
